
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,300&display=swap');

*{
    margin: 0;
    padding: 0%;
    font-family:  'Big Shoulders Display', sans-serif;
    font-family: 'Lato', sans-serif;;
  
}

.header{
    background: rgba(229, 84, 115, 0.10);
}
.container{

    width: 75%;
    max-width: 1440px;
    margin: 0 auto;

}
p{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
button{
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
    padding: 15px 30px ;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
button:hover{
    background-color: red;
}


.banner{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.banner .banner-text *{
    margin-bottom: 20px;
    max-width: 525px;
    
}
.banner-heading{
    color: #272727;
font-family: Lato;
font-size: 60px;

font-weight: 800;

}

.banner .banner-img img{
    width: 100%;
    vertical-align: middle;
}

.section-heading{
    text-align: center;
    max-width: 580px;
   padding-bottom: 10px;
    margin: 0 auto;
}
.section-heading h2{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 16px;
}
#fetured{
    padding: 100px 0;
    
}

.section-content{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
   
}


.section-content .flower .flower-img{
    background-color: #E55473;
    border-radius: 300px 300px 0 0;
    padding: 30px 15px 0;
    height: 500px;
    display: flex;
    align-items: end;
  
}
.section-content .flower .flower-img img{
    width: 100%;
}

.section-content .flower .pink{
    background: rgba(167, 33, 98, 0.15);
    
}
.section-content .flower .blue{

    background: rgba(5, 151, 160, 0.15);
    
}
.section-content .flower .gray{
    background: rgba(71, 125, 17, 0.15)
}
.section-content .flower p{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 145.833% */
text-decoration-line: underline;
}

.delivary{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border-radius: 8px;
    
background: rgba(39, 39, 39, 0.05);

height: 240px;

}

.delivary .delivary-img{
    text-align: center;
    padding-top: 60px;
}

#discount{
    margin-top: 50px;
    height: 470px;
    justify-content: center;
}
#discount-content{
   padding: 70px;
   text-align: center;
    
}
.discount-heading{
    width: 100%;
    color: #272727;
font-family: Lato;
font-size: 38px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.ista{
    width: 342px;
height: 396px;
}
.ista img{
  width: 100%;
}

#deels{
    background-image: url(../media/Rectangle\ 9.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
  
}
#subs{
    position: relative;
    top: 25%;
}
#deels p{
    padding-bottom: 30px;
}